
  .navstyle {
    background-color: #00a73c !important;
    color: white !important;
}

.logomarhnos {
    width: 30px;
}

.texto-blanco {
    color: white !important;
    padding: 0 1rem !important;
}