.btn-filter {
    background-color: white;
    border: 1px solid gainsboro;
    color: black;
    text-align: left;
}

.btn-filter:active {
    background-color: white;
    border: 1px solid gray;
    color: black;
}

.btn-filter:hover {
    background-color: white;
    border: 1px solid gray;
    color: black;
}
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle{
    background-color: white;
    border: 1px solid gray;
    color: black;
}
.dp-filter{
    background-color: white;
    border: 1px solid gainsboro;
    color: black;
    border-radius: 3px;
    padding: 4px;
    font-size: 14px;
    width: 100%;
}
.filter-text{
font-size: 12px;
margin-bottom: 0 !important;
margin-top: 4px;
}
